# Ignore Altium history files
/Altium/Capstone_Mainboard/History/
/Altium/Capstone_Mainboard_B/History/
/Altium/Capstone_Mainboard_B/Project Logs for Capstone_Mainboard_B
/Altium/Capstone_Mainboard_B/__Previews